{
  "extends": "airbnb",

  "settings": {
    "react": {
      "pragma": "m"
    }
  },

  "env": {
    "node": true
  },

  "rules": {
    "strict": "off",

    "comma-dangle": ["warn", "always-multiline"],
    "no-unused-vars": ["warn", {
      "vars": "local",
      "args": "none"
    }],
    "no-use-before-define": ["error", "nofunc"],

    "handle-callback-err": "error",
    "no-mixed-requires": "error",
    "no-new-require": "error",
    "no-path-concat": "error",

    "no-underscore-dangle": ["off"],
    "object-curly-spacing": ["error", "never"],
    "one-var": ["error", {
      "uninitialized": "always",
      "initialized": "never"
    }],

    "constructor-super": "error",
    "no-class-assign": "error",
    "no-dupe-class-members": "error",
    "no-this-before-super": "error",
    "template-curly-spacing": ["error", "always"],

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "import/prefer-default-export": "off",

    "react/no-unknown-property": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": ["error", {
      "extensions": [".js"]
    }],

    "jsx-a11y/label-has-for": "off"
  }
}
