{
  "extends": "airbnb",

  "settings": {
    "react": {
      "pragma": "m"
    }
  },

  "env": {
    "node": true
  },

  "rules": {
    "strict": 0,

    "comma-dangle": [1, "always-multiline"],
    "no-unused-vars": [1, {
      "vars": "local",
      "args": "none"
    }],
    "no-use-before-define": [2, "nofunc"],

    "handle-callback-err": 2,
    "no-mixed-requires": 2,
    "no-new-require": 2,
    "no-path-concat": 2,

    "object-curly-spacing": [2, "never"],
    "one-var": [2, {
      "uninitialized": "always",
      "initialized": "never"
    }],

    "constructor-super": 2,
    "no-class-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "template-curly-spacing": [2, "always"],

    "react/jsx-no-bind": [2, {
      "allowArrowFunctions": true
    }],
    "react/no-unknown-property": 0,
    "react/prop-types": 0
  }
}
